$color1:#244f75;
$color2:#60BFBF;
$color3:#8c4b7e;
$color4:#f8bb44;
$color5:#f24b4b;

  #color1 {
      background-color: $color1;  
  }
  #color2 {
      background-color: $color2;
  
  }
  #color3 {
      background-color: $color3;
  }
  #color4 {
      background-color: $color4;
  }
  #color5 {
      background-color: $color5;

  }



