@import"colores";
@import"movimientos";
@import"before";

html,
body{
    font-family: "lato", sans-serif;
    height: 100%;  

    #contenedor-flex{
        margin-left: -0.9rem;
        margin-right: -0.9rem;
        border: 0%;
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        height: 100%;
        text-align: center;
        align-content: center;
        justify-content: space-between;
        

        .cajas{
            width: 20%;
            height: 100%;
            border: solid 0.09rem white; 
            
            .colores{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;  
                
                .titulo{
                    color: white;
                    margin: 0;
                    justify-content: center; 
                    display: block;
                    font-size: 4vw;
                    font-weight: lighter;
                }
            }
        }
      
    }
}
        







  
    
    
